extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')

  div(class='ui sidebar mini vertical menu')
    a(class='item') início

  div(class='dimmed pusher')
    div#header-menu(class='ui top mini menu')
      a#open-menu(class='item')
        i(class='sidebar icon')
      div(class='header item') Our Company

  script(src="/javascript/index.js") 