doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/semantic-ui/semantic.min.css')
    script(src="/jquery.min.js")
    script(src="/semantic-ui/semantic.min.js")
  body
    block content
